body {
    margin: 0px;
    background-color: rgba(110, 50, 1, 0.76);
}

header {
    text-align: center;
    font-size: 35px;
    background-color: rgba(255, 145, 55, 1);
    border-bottom: 5px solid black;;
    height: 115px;
    font-family: cursive;
    color: rgb(122, 0, 0);
}

h1 {
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
}

.add-book {
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 30px;
    height: 50px;
    width: 300px;
    margin: 30px;
    outline: none;
    align-self: center;
}

.add-book:active {
    background-color: rgb(230, 230, 230);
    box-shadow: rgba(150, 150, 150, 0.3);
}

.card-button {
    margin: 18px 7px 0px 7px;
    height: 30px;
}

.library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-card {
    border: 1px solid black;
    border-radius: 15px;
    width: 300px;
    height: 250px;
    text-align: center;
    margin: 10px;
    background-color: rgba(150, 150, 150, 0.3)
}